<div class="row">
  <div class="col-12">
    <svg class="plant-drawing"
         appPlantDrawer
         [simulation]="simulation"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="-500 -500 1000 1000">
      <!--defs>
          <linearGradient id="shootGradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%"   stop-color="#4C6811" />
            <stop offset="100%" stop-color="#8FBF2F" />
          </linearGradient>
          <linearGradient id="rootGradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%"   stop-color=#795548" />
            <stop offset="100%" stop-color="#5D4037" />
          </linearGradient>
      </defs-->
    </svg>
  </div>
</div>
