$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.6;
$h3-font-size: $font-size-base * 1.4;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.15;


@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "ProductSans";
  src: url("assets/fonts/ProductSansRegular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "ProductSans";
  src: url("assets/fonts/ProductSansBold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "ProductSans";
  src: url("assets/fonts/ProductSansItalic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "ProductSans";
  src: url("assets/fonts/ProductSansBoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$PlantVisualiser-primary: mat-palette($mat-green);
$PlantVisualiser-accent: mat-palette($mat-indigo, A200, A100, A400);

// The warn palette is optional (defaults to red).
$PlantVisualiser-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$PlantVisualiser-theme: mat-light-theme($PlantVisualiser-primary, $PlantVisualiser-accent, $PlantVisualiser-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($PlantVisualiser-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "ProductSans", "Helvetica Neue", sans-serif;
}
